In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
file_name = 'C:/k_digital/source/data/market-price.csv'
bitcoin = pd.read_csv(file_name, names = ['day', 'price'])
bitcoin

               day     price
0                x         y
1    1635897600000  63241.11
2    1635984000000  62954.86
3    1636070400000  61441.83
4    1636156800000  61072.32
..             ...       ...
361  1667001600000  20601.63
362  1667088000000  20816.16
363  1667174400000   20628.5
364  1667260800000  20499.29
365  1667347200000  20486.26

[366 rows x 2 columns]