In [4]:
import numpy as np
import pandas as pd

# DatetimeIndex
- pd.to_datetime() : 문자열을 날짜/시간의 자료형인 datetime 자료형으로 바꿔주는 함수
- pd.date_range() : 시작일과 종료일 또는 시작일과 기간을 입력하면 범위내의 인덱스를 자동으로 생성
- 시계열 자료 : 인덱스에 날짜나 시간이 오는 데이터
- 판다스에서 시계열 자료를 생성하려면 인덱스를 DatetimeIndex 자료형으로 만들어야 함

In [12]:
date_str = ['2000, 6, 6', '1999, 8, 2', '1997, 2, 14']
print(type(date_str))

<class 'list'>

In [13]:
idx = pd.to_datetime(date_str)
idx
# DatetimeIndex로 객체가 바뀜

DatetimeIndex(['2000-06-06', '1999-08-02', '1997-02-14'], dtype='datetime64[ns]', freq=None)

In [14]:
# Series
s = pd.Series(np.random.rand(3), index=idx)
s

2000-06-06    0.401306
1999-08-02    0.667462
1997-02-14    0.205412
dtype: float64

In [15]:
pd.date_range('2022-4-2', '2022-5-30')

DatetimeIndex(['2022-04-02', '2022-04-03', '2022-04-04', '2022-04-05',
               '2022-04-06', '2022-04-07', '2022-04-08', '2022-04-09',
               '2022-04-10', '2022-04-11', '2022-04-12', '2022-04-13',
               '2022-04-14', '2022-04-15', '2022-04-16', '2022-04-17',
               '2022-04-18', '2022-04-19', '2022-04-20', '2022-04-21',
               '2022-04-22', '2022-04-23', '2022-04-24', '2022-04-25',
               '2022-04-26', '2022-04-27', '2022-04-28', '2022-04-29',
               '2022-04-30', '2022-05-01', '2022-05-02', '2022-05-03',
               '2022-05-04', '2022-05-05', '2022-05-06', '2022-05-07',
               '2022-05-08', '2022-05-09', '2022-05-10', '2022-05-11',
               '2022-05-12', '2022-05-13', '2022-05-14', '2022-05-15',
               '2022-05-16', '2022-05-17', '2022-05-18', '2022-05-19',
               '2022-05-20', '2022-05-21', '2022-05-22', '2022-05-23',
               '2022-05-24', '2022-05-25', '2022-05-26', '2022-05-27',
               '2022-05-28', '2022-05-29', '2022-05-30'],
              dtype='datetime64[ns]', freq='D')

In [17]:
pd.date_range(start='2022-10-1', periods=30)

DatetimeIndex(['2022-10-01', '2022-10-02', '2022-10-03', '2022-10-04',
               '2022-10-05', '2022-10-06', '2022-10-07', '2022-10-08',
               '2022-10-09', '2022-10-10', '2022-10-11', '2022-10-12',
               '2022-10-13', '2022-10-14', '2022-10-15', '2022-10-16',
               '2022-10-17', '2022-10-18', '2022-10-19', '2022-10-20',
               '2022-10-21', '2022-10-22', '2022-10-23', '2022-10-24',
               '2022-10-25', '2022-10-26', '2022-10-27', '2022-10-28',
               '2022-10-29', '2022-10-30'],
              dtype='datetime64[ns]', freq='D')

#### frep 매개변수로 특정한 날짜만 생성되도록 설정할 수 있다
- s : second, 초
- T : minute, 분
- H : hour, 시간
- D : day, 일
- B : 주말이 아닌 평일
- W : 주(일요일)
- W-MON : 주(월요일)
- M : 각 달의 마지막 날
- MS : 각 달의 첫날(month start)

In [18]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects

In [19]:
pd.date_range('2022-10-1','2022-10-31', freq='D')

DatetimeIndex(['2022-10-01', '2022-10-02', '2022-10-03', '2022-10-04',
               '2022-10-05', '2022-10-06', '2022-10-07', '2022-10-08',
               '2022-10-09', '2022-10-10', '2022-10-11', '2022-10-12',
               '2022-10-13', '2022-10-14', '2022-10-15', '2022-10-16',
               '2022-10-17', '2022-10-18', '2022-10-19', '2022-10-20',
               '2022-10-21', '2022-10-22', '2022-10-23', '2022-10-24',
               '2022-10-25', '2022-10-26', '2022-10-27', '2022-10-28',
               '2022-10-29', '2022-10-30', '2022-10-31'],
              dtype='datetime64[ns]', freq='D')

In [20]:
pd.date_range('2022-10-1','2022-10-31', freq='W')

DatetimeIndex(['2022-10-02', '2022-10-09', '2022-10-16', '2022-10-23',
               '2022-10-30'],
              dtype='datetime64[ns]', freq='W-SUN')

In [21]:
pd.date_range('2022-10-1','2022-10-31', freq='W-MON')

DatetimeIndex(['2022-10-03', '2022-10-10', '2022-10-17', '2022-10-24',
               '2022-10-31'],
              dtype='datetime64[ns]', freq='W-MON')

### shift

In [22]:
ts = pd.Series(np.random.randn(4), index = pd.date_range('2018-1-1', periods=4, freq='M'))
ts

2018-01-31    0.553933
2018-02-28   -0.649489
2018-03-31   -0.494953
2018-04-30   -0.058159
Freq: M, dtype: float64

In [23]:
ts.shift(1)
# 날짜는 그대로 있고 데이터만 한칸씩 뒤로.. 빈곳은 결측값

2018-01-31         NaN
2018-02-28    0.553933
2018-03-31   -0.649489
2018-04-30   -0.494953
Freq: M, dtype: float64

In [24]:
ts.shift(-1)
# 반대로 보낼때는 -1

2018-01-31   -0.649489
2018-02-28   -0.494953
2018-03-31   -0.058159
2018-04-30         NaN
Freq: M, dtype: float64

In [25]:
ts.shift(1, freq='W')

2018-02-04    0.553933
2018-03-04   -0.649489
2018-04-01   -0.494953
2018-05-06   -0.058159
dtype: float64

### resample : 날짜나 시간 간격을 재조정하는 기능
- up-sample(업샘플링)
- down-sample(다운샘플링)

In [29]:
ts = pd.Series(np.random.randn(100), index = pd.date_range('2018-1-1', periods=100, freq='D'))
ts.head(20)

2018-01-01    0.027593
2018-01-02   -0.272275
2018-01-03   -0.160046
2018-01-04    0.440561
2018-01-05   -0.860828
2018-01-06    2.676456
2018-01-07    1.364574
2018-01-08    0.297030
2018-01-09   -0.269121
2018-01-10    0.838398
2018-01-11    0.577550
2018-01-12   -0.350283
2018-01-13    1.608533
2018-01-14   -1.664654
2018-01-15    1.137967
2018-01-16    1.220592
2018-01-17    0.344724
2018-01-18   -1.294365
2018-01-19   -0.925972
2018-01-20    1.304535
Freq: D, dtype: float64

In [30]:
# 다운 샘플링의 경우에는 원래의 데이터가 그룹화
ts.resample('W').mean()

2018-01-07    0.459434
2018-01-14    0.148208
2018-01-21    0.362599
2018-01-28   -0.020849
2018-02-04    0.294876
2018-02-11    0.192757
2018-02-18   -0.277876
2018-02-25    0.031120
2018-03-04   -0.257193
2018-03-11   -1.138291
2018-03-18   -0.219349
2018-03-25    0.095743
2018-04-01    0.048393
2018-04-08    0.053833
2018-04-15   -0.462978
Freq: W-SUN, dtype: float64

In [32]:
ts.resample('M').first()
# 그 달의 첫번째 값

2018-01-31    0.027593
2018-02-28    0.190119
2018-03-31    0.115674
2018-04-30   -1.397207
Freq: M, dtype: float64