# 현업에서 사용중인 머신러닝 알고리즘 Top10

1. 지도학습
  - 선형회귀 
  - 로지스틱 회귀
  - k-nn
  - 나이브베이스
  - 결정트리
  - 랜덤포레스트
  - XGBoost
  - LightGBM

2. 비지도학습
  - k-means
  - PCA

3. 선택이유
  - 범용성
  - 속도
  - 예측력
  - 하이퍼파라미터 튜닝
  - 시각화
  - 해석력

# 머신러닝 필수 라이브러리

1. Numpy : Nummerical Python의 줄임
  - 파이썬 산술계산의 대표적인 라이브러리
  - 자료구조, 알고리즘 산술 데이터를 다루는 대부분의 과학 계산에 필수 라이브러리
  - ndarray 객체
<br>    
2. Pandas : 구조화된 데이터나 표 형식의 데이터를 빠르고 쉽게 표현적으로 다루도록 설계된 고수준 자료구조
  - 데이터 과학에서 데이터를 처리하는 대표적인 라이브러리
  - 데이터 핸들링에 표준
  - Series 객체와 DataFrame 객체가 대표적인 자료구조
<br>    
3. Matplotlib : 시각화 라이브러리
  - 그래프나 2차원 데이터를 시각화하는 파이썬 기반의 라이브러리
<br>    
4. Seaborn : 시본, 다양한 시각화 종류를 제공하는 라이브러리
  - Matplotlib에 종속된 라이브러리
<br>    
5. Scipy : 사이파이
  - 과학 계산 컴퓨팅 영역의 여러 기본 문제를 다루는 패키지 모음
  - scipy.stats : 가장 많이 사용되는 통계도구를 가지고 있는 라이브러리
<br>  
6. scikit-learn : 머신러닝에 핵심 라이브러리
  - 분류 : SVM, 최근접 이웃, 랜덤 포레스트, 로지스틱 회귀 등
  - 회귀 : 라쏘, 릿지 회귀 등
  - 클러스터링 : k-평균 등
  - 자원축소 : PCA, 특징 선택, 행렬 인수분해 등
  - 모델 선택 : 격자 탐색, 교차검증, 행렬
  - 전처리 : 특징 추출, 정규화 등
<br>  
7. statsmodels : R 언어용 회귀분석 모델을 구현한 통계분석 패키지
  - 회귀모델 : 선형회귀
  - 분산분석(ANOVA)
  - 시계열분석 : AR, ARMA, ARIMA 등
  - 통계 모델 결과의 시각화 제공

# 앙상블 학습

In [1]:
import numpy as np
import pandas as pd

# 보팅분류기
from sklearn.ensemble import VotingClassifier
# 보팅용 학습알고리즘
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
from sklearn.datasets import load_breast_cancer
cancer = load_breast_cancer()

In [4]:
print(cancer['DESCR'])

.. _breast_cancer_dataset:

Breast cancer wisconsin (diagnostic) dataset
--------------------------------------------

**Data Set Characteristics:**

    :Number of Instances: 569

    :Number of Attributes: 30 numeric, predictive attributes and the class

    :Attribute Information:
        - radius (mean of distances from center to points on the perimeter)
        - texture (standard deviation of gray-scale values)
        - perimeter
        - area
        - smoothness (local variation in radius lengths)
        - compactness (perimeter^2 / area - 1.0)
        - concavity (severity of concave portions of the contour)
        - concave points (number of concave portions of the contour)
        - symmetry
        - fractal dimension ("coastline approximation" - 1)

        The mean, standard error, and "worst" or largest (mean of the three
        worst/largest values) of these features were computed for each image,
        resulting in 30 features.  For instance, field 0 is Mean Radius, field
        10 is Radius SE, field 20 is Worst Radius.

        - class:
                - WDBC-Malignant
                - WDBC-Benign

    :Summary Statistics:

    ===================================== ====== ======
                                           Min    Max
    ===================================== ====== ======
    radius (mean):                        6.981  28.11
    texture (mean):                       9.71   39.28
    perimeter (mean):                     43.79  188.5
    area (mean):                          143.5  2501.0
    smoothness (mean):                    0.053  0.163
    compactness (mean):                   0.019  0.345
    concavity (mean):                     0.0    0.427
    concave points (mean):                0.0    0.201
    symmetry (mean):                      0.106  0.304
    fractal dimension (mean):             0.05   0.097
    radius (standard error):              0.112  2.873
    texture (standard error):             0.36   4.885
    perimeter (standard error):           0.757  21.98
    area (standard error):                6.802  542.2
    smoothness (standard error):          0.002  0.031
    compactness (standard error):         0.002  0.135
    concavity (standard error):           0.0    0.396
    concave points (standard error):      0.0    0.053
    symmetry (standard error):            0.008  0.079
    fractal dimension (standard error):   0.001  0.03
    radius (worst):                       7.93   36.04
    texture (worst):                      12.02  49.54
    perimeter (worst):                    50.41  251.2
    area (worst):                         185.2  4254.0
    smoothness (worst):                   0.071  0.223
    compactness (worst):                  0.027  1.058
    concavity (worst):                    0.0    1.252
    concave points (worst):               0.0    0.291
    symmetry (worst):                     0.156  0.664
    fractal dimension (worst):            0.055  0.208
    ===================================== ====== ======

    :Missing Attribute Values: None

    :Class Distribution: 212 - Malignant, 357 - Benign

    :Creator:  Dr. William H. Wolberg, W. Nick Street, Olvi L. Mangasarian

    :Donor: Nick Street

    :Date: November, 1995

This is a copy of UCI ML Breast Cancer Wisconsin (Diagnostic) datasets.
https://goo.gl/U2Uwz2

Features are computed from a digitized image of a fine needle
aspirate (FNA) of a breast mass.  They describe
characteristics of the cell nuclei present in the image.

Separating plane described above was obtained using
Multisurface Method-Tree (MSM-T) [K. P. Bennett, "Decision Tree
Construction Via Linear Programming." Proceedings of the 4th
Midwest Artificial Intelligence and Cognitive Science Society,
pp. 97-101, 1992], a classification method which uses linear
programming to construct a decision tree.  Relevant features
were selected using an exhaustive search in the space of 1-4
features and 1-3 separating planes.

The actual linear program used to obtain the separating plane
in the 3-dimensional space is that described in:
[K. P. Bennett and O. L. Mangasarian: "Robust Linear
Programming Discrimination of Two Linearly Inseparable Sets",
Optimization Methods and Software 1, 1992, 23-34].

This database is also available through the UW CS ftp server:

ftp ftp.cs.wisc.edu
cd math-prog/cpo-dataset/machine-learn/WDBC/

.. topic:: References

   - W.N. Street, W.H. Wolberg and O.L. Mangasarian. Nuclear feature extraction
     for breast tumor diagnosis. IS&T/SPIE 1993 International Symposium on
     Electronic Imaging: Science and Technology, volume 1905, pages 861-870,
     San Jose, CA, 1993.
   - O.L. Mangasarian, W.N. Street and W.H. Wolberg. Breast cancer diagnosis and
     prognosis via linear programming. Operations Research, 43(4), pages 570-577,
     July-August 1995.
   - W.H. Wolberg, W.N. Street, and O.L. Mangasarian. Machine learning techniques
     to diagnose breast cancer from fine-needle aspirates. Cancer Letters 77 (1994)
     163-171.

In [6]:
cancer.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [8]:
df =  pd.DataFrame(cancer.data, columns = cancer.feature_names)
df.head(3)

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,17.99,10.38,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.0,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.5,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758

In [9]:
df.shape

(569, 30)

In [10]:
logistic_regression = LogisticRegression()
knn = KNeighborsClassifier(n_neighbors=5)

voting_model = VotingClassifier(estimators=[('LogisticRegression', logistic_regression), ('KNN', knn)], voting='soft')

In [11]:
X_train, X_test, y_train, y_test = train_test_split(
    cancer.data, cancer.target, test_size=0.2, random_state=156)

In [12]:
voting_model.fit(X_train, y_train)
pred = voting_model.predict(X_test)

In [13]:
print('보팅 분류기 정확도 : {:.3f}'.format(accuracy_score(y_test, pred)))

보팅 분류기 정확도 : 0.947

In [14]:
# 개별 모델의 학습과 예측 그리고 평가
classifier = [logistic_regression, knn]

for model in classifier:
    model.fit(X_train, y_train)
    pred = model.predict(X_test)
    model_name = model.__class__.__name__
    print('{} 정확도 : {:.3f}'.format(model_name, accuracy_score(y_test, pred)))

LogisticRegression 정확도 : 0.939
KNeighborsClassifier 정확도 : 0.904

# 랜덤포레스트(RandomForest)

In [15]:
wine = pd.read_csv('https://raw.githubusercontent.com/rickiepark/hg-mldl/master/wine.csv')

data = wine[['alcohol', 'sugar', 'pH']].to_numpy()
target = wine['class'].to_numpy()

In [16]:
train_input, test_input, train_target, test_target = train_test_split(
    data, target, test_size = 0.2, random_state = 42)

In [17]:
from sklearn.model_selection import cross_validate
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_jobs= -1, random_state=42)
scores = cross_validate(rf, train_input, train_target, return_train_score = True)

print(np.mean(scores['train_score']), np.mean(scores['test_score']))

0.9973541965122431 0.8905151032797809

In [20]:
rf.fit(train_input, train_target)

print(rf.feature_importances_)

[0.23167441 0.50039841 0.26792718]

In [21]:
# OOB(Out Of Bag) 샘플 : 부트스트랩 샘프에 포함되지 않고 남는 샘플
rf = RandomForestClassifier(oob_score = True, n_jobs= -1, random_state=42)
rf.fit(train_input, train_target)

print(rf.oob_score_)

0.8934000384837406

# 실전예제 : 중고차 가격 예측

1. 알고리즘 : 랜덤포레스트(RandomForest)
2. 데이터 셋 : 해외 중고차 거래 데이터셋 이용
3. 데이터 셋의 소개 : 종속변수(selling_price), 독립변수()
  - 중고차 판매이력을 수집한 데이터 세트
4. 문제유형 : 회귀
5. 평가지표 : RMSE
6. 사용할 모델 : RandomFroestRegressor
7. 사용 라이브러리 :

In [3]:
data = pd.read_csv('https://media.githubusercontent.com/media/musthave-ML10/data_source/main/car.csv')

In [4]:
data.head(3)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0

1. feature 탐색
  - name : 차종
  - year : 년식
  - selling_price : 판매가
  - km_drivn : 주행거리(km)
  - fuel : 연료
  - seller type : 판매자 유형
  - transmission : 변속기
  - owner : 소유자 이력
  - mileage : 연비(km)
  - engine : 배기량
  - max_power : 최대출력(제동마력)
  - torque : 회전력(타이어를 회전시키는 힘)
  - seats : 좌석수(인승)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [6]:
round(data.describe(), 2)

          year  selling_price   km_driven    seats
count  8128.00        8128.00     8128.00  7907.00
mean   2013.80      638271.81    69819.51     5.42
std       4.04      806253.40    56550.55     0.96
min    1983.00       29999.00        1.00     2.00
25%    2011.00      254999.00    35000.00     5.00
50%    2015.00      450000.00    60000.00     5.00
75%    2017.00      675000.00    98000.00     5.00
max    2020.00    10000000.00  2360457.00    14.00

## 전처리 : 텍스트 데이터

- split() : 문자열 분리

### engine

In [7]:
data[['engine', 'engine_unit']] = data['engine'].str.split(expand=True)

In [8]:
data['engine'].head()

0    1248
1    1498
2    1497
3    1396
4    1298
Name: engine, dtype: object

In [9]:
data['engine'] = data['engine'].astype(float)

In [10]:
data['engine'].head()

0    1248.0
1    1498.0
2    1497.0
3    1396.0
4    1298.0
Name: engine, dtype: float64

In [11]:
data['engine_unit'].unique()

array(['CC', nan], dtype=object)

In [12]:
data['engine_unit'].value_counts()

CC    7907
Name: engine_unit, dtype: int64

In [13]:
# 변수제거
data.drop('engine_unit', axis=1, inplace=True)

### mileage

In [14]:
data[['mileage', 'mileage_unit']] = data['mileage'].str.split(expand=True)

In [15]:
data['mileage'] = data['mileage'].astype(float)

In [16]:
data['mileage_unit'].unique()

array(['kmpl', 'km/kg', nan], dtype=object)

In [17]:
data['fuel'].unique()

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

- 연료종류가 4종류
- 다른 종류의 연료로 주행거리를 비교하려면 같은 기준을 세워야 한다.
- 연료 가격을 활용하면 어떨가? 1달러당 몇 km를 주행할 수 있는지 알아보자
- 2022년 시점의 가격
  - Diesel
  - Petrol
  - LPG
  - CNG

In [18]:
def mile(x):
    if x['fuel'] == 'Petrol':
        return x['mileage'] / 1.048
    elif x['fuel'] == 'Diesel':
        return x['mileage'] / 1.405
    elif x['fuel'] == 'LPG':
        return x['mileage'] / 3.54 
    else:
        return x['mileage'] / 2.76

In [19]:
data['mileage'] = data.apply(mile, axis= 1)

In [20]:
data.drop('mileage_unit', axis=1, inplace =True)

### torque
  - 앞 부분의 숫자만 추출해서 숫자형
  - 단위 스케일(Nm)

In [21]:
data['torque'].unique()

array(['190Nm@ 2000rpm', '250Nm@ 1500-2500rpm', '12.7@ 2,700(kgm@ rpm)',
       '22.4 kgm at 1750-2750rpm', '11.5@ 4,500(kgm@ rpm)',
       '113.75nm@ 4000rpm', '7.8@ 4,500(kgm@ rpm)', '59Nm@ 2500rpm',
       '170Nm@ 1800-2400rpm', '160Nm@ 2000rpm', '248Nm@ 2250rpm',
       '78Nm@ 4500rpm', nan, '84Nm@ 3500rpm', '115Nm@ 3500-3600rpm',
       '200Nm@ 1750rpm', '62Nm@ 3000rpm', '219.7Nm@ 1500-2750rpm',
       '114Nm@ 3500rpm', '115Nm@ 4000rpm', '69Nm@ 3500rpm',
       '172.5Nm@ 1750rpm', '6.1kgm@ 3000rpm', '114.7Nm@ 4000rpm',
       '60Nm@ 3500rpm', '90Nm@ 3500rpm', '151Nm@ 4850rpm',
       '104Nm@ 4000rpm', '320Nm@ 1700-2700rpm', '250Nm@ 1750-2500rpm',
       '145Nm@ 4600rpm', '146Nm@ 4800rpm', '343Nm@ 1400-3400rpm',
       '200Nm@ 1400-3400rpm', '200Nm@ 1250-4000rpm',
       '400Nm@ 2000-2500rpm', '138Nm@ 4400rpm', '360Nm@ 1200-3400rpm',
       '200Nm@ 1200-3600rpm', '380Nm@ 1750-2500rpm', '173Nm@ 4000rpm',
       '400Nm@ 1750-3000rpm', '400Nm@ 1400-2800rpm',
       '200Nm@ 1750-3000rpm', '111.7Nm@ 4000rpm', '219.6Nm@ 1500-2750rpm',
       '112Nm@ 4000rpm', '250Nm@ 1500-3000rpm', '130Nm@ 4000rpm',
       '205Nm@ 1750-3250rpm', '280Nm@ 1350-4600rpm', '99.04Nm@ 4500rpm',
       '77Nm@ 3500rpm', '110Nm@ 3750rpm', '153Nm@ 3800rpm',
       '113.7Nm@ 4000rpm', '114Nm@ 4000rpm', '113Nm@ 4200rpm',
       '101Nm@ 3000rpm', '290Nm@ 1800-2800rpm', '120Nm@ 4250rpm',
       '250Nm@ 1500~4500rpm', '96 Nm at 3000 rpm', '360Nm@ 1750-2800rpm',
       '135Nm@ 2500rpm', '259.8Nm@ 1900-2750rpm', '200Nm@ 1900rpm',
       '259.9Nm@ 1900-2750rpm', '91Nm@ 4250rpm', '96.1Nm@ 3000rpm',
       '109Nm@ 4500rpm', '400nm@ 1750-3000rpm', '202Nm@ 3600-5200rpm',
       '430Nm@ 1750-2500rpm', '347Nm@ 4300rpm', '382nm@ 1750-2250rpm',
       '620Nm@ 1600-2400rpm', '400Nm@ 1750-2500rpm', '250@ 1250-5000rpm',
       '500Nm@ 1600-1800rpm', '250Nm@ 1600-3600rpm', '400Nm',
       '550Nm@ 1750-2750rpm', '490Nm@ 1600rpm', '250 Nm at 2750 rpm',
       '177.5Nm@ 4700rpm', '170Nm@ 1750-4000rpm', '300Nm@ 1200-4000rpm',
       '300Nm@ 1200-1400rpm', '260Nm@ 1500-2750rpm', '213Nm@ 4500rpm',
       '224Nm@ 4000rpm', '640Nm@ 1740rpm', '113Nm@ 4500rpm',
       '95Nm@ 3000-4300rpm', '13.1kgm@ 4600rpm', '205Nm@ 1800-2800rpm',
       '71Nm@ 3500rpm', '190Nm@ 1750-3000rpm', '146Nm at 4800 rpm',
       '14.9 KGM at 3000 RPM', '115Nm@ 3200rpm', '117nm@ 4000rpm',
       '320Nm@ 1500-3000rpm', '72Nm@ 4386rpm', '11.4 kgm at 4,000 rpm',
       '140Nm@ 1500-4000rpm', '134Nm@ 4000rpm', '150Nm@ 4500rpm',
       '340Nm@ 1800-3250rpm', '240Nm@ 1600-2800rpm',
       '330Nm@ 1600-2800rpm', '12.5@ 3,500(kgm@ rpm)', '110Nm@ 4800rpm',
       '111.8Nm@ 4000rpm', '11.8@ 3,200(kgm@ rpm)', '135.4Nm@ 2500rpm',
       '300Nm@ 1750-2500rpm', '190.25nm@ 1750-2250rpm',
       '140Nm@ 1800-3000rpm', '20.4@ 1400-3400(kgm@ rpm)',
       '247Nm@ 1800-2000rpm', '223Nm@ 1600-2200rpm',
       '180 Nm at 1440-1500rpm', '195Nm@ 1400-2200rpm',
       '154.9Nm@ 4200rpm', '114.73Nm@ 4000rpm', '160Nm@ 1500-2750rpm',
       '108Nm@ 4400rpm', '190.24nm@ 1750-2250rpm', '200Nm@ 2000-3500rpm',
       '420Nm@ 1400-2600rpm', '100Nm@ 2700rpm', '51Nm@ 4000rpm',
       '250Nm@ 1250-5300rpm', '132Nm@ 3000rpm', '350Nm@ 1500-2750rpm',
       '218Nm@ 4200rpm', '14.9@ 3,000(kgm@ rpm)',
       '24@ 1,900-2,750(kgm@ rpm)', '13.5@ 2,500(kgm@ rpm)',
       '85Nm@ 3000rpm', '74.5Nm@ 4000rpm', '160Nm@ 1750rpm',
       '180.4Nm@ 1750-2500rpm', '230Nm@ 1500-2500rpm',
       '113.75Nm@ 4000rpm', '219.66nm@ 1500-2750rpm', '245Nm@ 1750rpm',
       '360Nm@ 1400-3200rpm', '320Nm@ 2000rpm', '135 Nm at 2500  rpm ',
       '24 KGM at 1900-2750 RPM', '190Nm@ 1750-2250rpm',
       '204Nm@ 2000-2750rpm', '14.3@ 1,800-3,000(kgm@ rpm)',
       '250nm@ 1500-2750rpm', '125Nm@ 2000rpm', '172Nm@ 4300rpm',
       '150Nm@ 1750rpm', '102Nm@ 4000rpm', '85Nm@ 2500rpm',
       '8.5@ 2,500(kgm@ rpm)', '180Nm@ 1440-1500rpm', '106.5Nm@ 4400rpm',
       '108.5Nm@ 5000rpm', '350Nm@ 1750-2500rpm', '144.15nm@ 4500rpm',
       '104Nm@ 4400rpm', '99Nm@ 4500rpm', '200Nm@ 2000rpm',
       '280Nm@ 1800-2800rpm', '142.5Nm@ 1750rpm', '140Nm@ 4400rpm',
       '115@ 2,500(kgm@ rpm)', '196Nm@ 5000rpm',
       '260 Nm at 1800-2200 rpm', '9.8@ 3,000(kgm@ rpm)',
       '209Nm@ 2000rpm', '135 Nm at 2500 rpm', '140Nm@ 4200rpm',
       '220Nm at 1400-2600 rpm', '48Nm@ 3000rpm', '171Nm@ 1800rpm',
       '277.5Nm@ 1700-2200rpm', '215Nm@ 3600rpm', '219.6Nm@ 1750-2750rpm',
       '195Nm@ 1440-2200rpm', '13@ 2,500(kgm@ rpm)', '180Nm@ 2000rpm',
       '200Nm@ 1400-2200rpm', '380Nm(38.7kgm)@ 2500rpm', '110Nm@ 4400rpm',
       '72Nm@ 4388rpm', '263.7Nm@ 2500rpm', '320Nm@ 1600-2800rpm',
       '25.5@ 1,500-3,000(kgm@ rpm)', '16.3@ 2,000(kgm@ rpm)',
       '190 Nm at 1750 rpm ', '94.14Nm@ 3500rpm', '12@ 3,500(kgm@ rpm)',
       '113Nm@ 5000rpm', '280Nm@ 2400-2800rpm', '96Nm@ 3500rpm',
       '16@ 2,000(kgm@ rpm)', '320Nm@ 1750-3000rpm', '114.73nm@ 4000rpm',
       '320Nm@ 1750-2500rpm', '138nm@ 4400rpm', '190Nm@ 1750rpm',
       '789Nm@ 2250rpm', '259.87Nm@ 1900-2750rpm', '205Nm@ 1750rpm',
       '436.39Nm@ 1800-2500rpm', '182.5Nm@ 1500-1800rpm',
       '90.3Nm@ 4200rpm', '12.5@ 2,500(kgm@ rpm)', '215Nm@ 1750-3000rpm',
       '215Nm@ 1750-3000', '305Nm@ 2000rpm', '540Nm@ 2000rpm',
       '327Nm@ 2600rpm', '300Nm@ 1600-3000rpm', '620Nm@ 2000-2500rpm',
       '450Nm@ 1600-2400rpm', '19@ 1,800(kgm@ rpm)',
       '9.2@ 4,200(kgm@ rpm)', '145@ 4,100(kgm@ rpm)',
       '51Nm@ 4000+/-500rpm', '110Nm@ 3000rpm', '148Nm@ 3500rpm',
       '116Nm@ 4750rpm', '48@ 3,000+/-500(NM@ rpm)', '148Nm@ 4000rpm',
       '222Nm@ 4300rpm', '135.3Nm@ 5000rpm', '98Nm@ 1600-3000rpm',
       '170Nm@ 1400-4500rpm', '343Nm@ 1400-2800rpm',
       '402Nm@ 1600-3000rpm', '113Nm@ 3300rpm', '99.07Nm@ 4500rpm',
       '210nm@ 1600-2200rpm', '190 Nm at 1750  rpm ', '32.1kgm@ 2000rpm',
       '224nm@ 1500-2750rpm', '400nm@ 1750-2500rpm',
       '215Nm@ 1750-2500rpm', '25@ 1,800-2,800(kgm@ rpm)',
       '197Nm@ 1750rpm', '136.3Nm@ 4200rpm', '470Nm@ 1750-2500rpm',
       '11@ 3,000(kgm@ rpm)', '142Nm@ 4000rpm', '145Nm@ 4100rpm',
       '320Nm@ 1500-2800rpm', '123Nm@ 1000-2500rpm',
       '218Nm@ 1400-2600rpm', '510@ 1600-2400', '220Nm@ 1500-2750rpm',
       '380Nm@ 2000rpm', '104Nm@ 3100rpm', '292Nm@ 2000rpm',
       '20@ 3,750(kgm@ rpm)', '46.5@ 1,400-2,800(kgm@ rpm)',
       '380Nm@ 2500rpm', '15@ 3,800(kgm@ rpm)', '136Nm@ 4250rpm',
       '228Nm@ 4400rpm', '149Nm@ 4500rpm', '187Nm@ 2500rpm',
       '146Nm@ 3400rpm', '8.6@ 3,500(kgm@ rpm)', '219.7Nm@ 1750-2750rpm',
       '190Nm@ 2000-3000', '450Nm@ 2000rpm', '300Nm@ 2000rpm',
       '230Nm@ 1800-2000rpm', '42@ 2,000(kgm@ rpm)',
       '110Nm@ 3000-4300rpm', '110(11.2)@ 4800', '330Nm@ 1800rpm',
       '225Nm@ 1500-2500rpm', '380Nm@ 1750-2750rpm',
       '28.3@ 1,700-2,200(kgm@ rpm)', '259.88Nm@ 1900-2750rpm',
       '580Nm@ 1400-3250rpm', '400 Nm /2000 rpm', '127Nm@ 3500rpm',
       '300Nm@ 1500-2500rpm', '132.3Nm@ 4000rpm', '113nm@ 4400rpm',
       '151NM@ 4850rpm', '153Nm@ 3750-3800rpm', '10.7@ 2,500(kgm@ rpm)',
       '124.6Nm@ 3500rpm', '78Nm@ 3500rpm', '219.9Nm@ 1750-2750rpm',
       '420.7Nm@ 1800-2500rpm', '130Nm@ 3000rpm', '424Nm@ 2000rpm',
       '130@ 2500(kgm@ rpm)', '99.8Nm@ 2700rpm', '113Nm@ 4,500rpm',
       '11.2@ 4,400(kgm@ rpm)', '240Nm@ 1850rpm', '16.1@ 4,200(kgm@ rpm)',
       '320Nm@ 1750-2700rpm', '115Nm@ 4500rpm', '245Nm@ 4000rpm',
       '321Nm@ 1600-2400rpm', '619Nm@ 1600-2400rpm',
       '380Nm@ 1750-3000rpm', '560Nm@ 1500rpm', '230Nm@ 1500-2250rpm',
       '90Nm@ 2650rpm', '260Nm@ 1800-2200rpm', '600Nm@ 2000rpm',
       '259.87nm@ 1500-3000rpm', '16.6@ 4,500(kgm@ rpm)',
       '219.66NM@ 1500-2750rpm', '12.5@ 3,000(kgm@ rpm)',
       '620Nm@ 1500-2500rpm', '250Nm@ 1500-4500rpm',
       '14.9@ 3,400(kgm@ rpm)', '25.5@ 1,900(kgm@ rpm)',
       '33.7@ 1,800(kgm@ rpm)', '285Nm@ 2400-4000rpm',
       '10.7@ 2,600(kgm@ rpm)', '250Nm@ 1000-2000rpm', '240Nm@ 1750rpm',
       '226Nm@ 4400rpm', '510Nm@ 1600-2800rpm', '259.87NM@ 1500-3000rpm',
       '155 Nm at 1600-2800 rpm', '240Nm@ 2000rpm', '103Nm@ 4500rpm',
       '13.5@ 4,800(kgm@ rpm)', '400Nm@ 1750-2750rpm',
       '175Nm@ 1500-4100rpm', '72.9Nm@ 2250rpm', '135.4Nm@ 2500',
       '245Nm@ 5000rpm', '57Nm@ 2500rpm', '96Nm@ 2500rpm',
       '215nm@ 1750-2500rpm', '10.4@ 3,200(kgm@ rpm)', '128Nm@ 3100rpm',
       '102Nm@ 2600rpm', '131Nm@ 4400rpm', '11.4@ 4,000(kgm@ rpm)',
       '250Nm@ 4250rpm', '343Nm@ 1600-2800rpm', '185Nm@ 1750-2750rpm',
       '12@ 2500(kgm@ rpm)', '12.4@ 2,600(kgm@ rpm)', '170Nm@ 4200rpm',
       '176Nm@ 1500rpm', '380NM@ 1800-2800rpm', '250Nm@ 1600-2000rpm',
       '24.5@ 3,500-4,500(kgm@ rpm)', '22.9@ 1,950-4,700(kgm@ rpm)',
       '113Nm@ 4400rpm', '121Nm@ 2800rpm', '210 / 1900',
       '250Nm@ 1250-5000rpm', '400Nm@ 175-2750rpm', '350Nm@ 1500-3500rpm',
       '175nm@ 1750-4000rpm', '115@ 2500(kgm@ rpm)', '110Nm@ 4500rpm',
       '190Nm@ 2000-3000rpm', '106Nm@ 2200rpm',
       '21.4@ 1,750-4,600(kgm@ rpm)', '96Nm@ 3000rpm',
       '23.6@ 4,250(kgm@ rpm)', '11.3kgm@ 4700rpm', '450Nm@ 1750-2500rpm',
       '35.7@ 1,750-3,000(kgm@ rpm)', '6@ 2,500(kgm@ rpm)',
       '13.9 kgm at 4200 rpm', '320Nm@ 1400-4100rpm',
       '150Nm@ 1700-4500rpm', '113.8Nm@ 4000rpm', '110@ 3,000(kgm@ rpm)',
       '151Nm@ 2400rpm', '62Nm@ 2500rpm', '18@ 1,600-2,200(kgm@ rpm)',
       '83Nm@ 3000rpm', '124.5Nm@ 3500rpm', '20@ 4,700(kgm@ rpm)',
       '300Nm@ 1600-4000rpm', '171.6Nm@ 1500-4000rpm',
       '21.4@ 1,900(kgm@ rpm)', '190@ 21,800(kgm@ rpm)',
       '5.7@ 2,500(kgm@ rpm)', '88.4Nm@ 4200rpm',
       '250 Nm at 1,500-3,000 rpm', '340nm@ 1750-3000rpm',
       '36.6@ 1,750-2,500(kgm@ rpm)', '12.5kgm@ 3500rpm',
       '6.1@ 3,000(kgm@ rpm)', '110Nm@ 4000rpm', '350nm@ 1800-2600rpm',
       '175nm@ 1500-4100rpm', '4.8kgm@ 3000rpm', '355Nm@ 4500rpm',
       '51@ 1,750-3,000(kgm@ rpm)', '119Nm@ 4250rpm',
       '410Nm@ 1600-2800rpm', '174Nm@ 4300rpm', '99.1Nm@ 4500rpm',
       '385Nm@ 1600-2500rpm', '180 Nm at 2000rpm', '190 Nm at 1750 rpm',
       '53@ 2,000-2,750(kgm@ rpm)', '360Nm@ 1400-2600rpm',
       '420Nm@ 2000rpm', '124Nm@ 3500rpm', '17.5@ 4,300(kgm@ rpm)',
       '360Nm@ 2000rpm', '145Nm@ 3750rpm', '85Nm@ 3500rpm',
       '190Nm@ 4200rpm', '190 Nm at 2000rpm', '13.5@ 2500(kgm@ rpm)',
       '250nm@ 1500-3000rpm', '159.8Nm@ 1500-2750rpm', '500Nm@ 2000rpm',
       '333Nm@ 1600-3200rpm', '400nm@ 2800rpm',
       '33@ 2,000-2,680(kgm@ rpm)', '10.2@ 2,600(kgm@ rpm)', '480Nm',
       '190Nm@ 4300rpm', '320Nm@ 1800-2800rpm', '380Nm@ 1750rpm',
       '250.06nm@ 1500-2750rpm', '90nm@ 3500rpm', '190Nm@ 3700rpm',
       '436.4Nm@ 1800-2500rpm', '96  Nm at 3000  rpm '], dtype=object)

In [22]:
data['torque'] = data['torque'].str.upper()

In [23]:
data['torque'].value_counts()

190NM@ 2000RPM             530
200NM@ 1750RPM             445
90NM@ 3500RPM              407
113NM@ 4200RPM             223
114NM@ 4000RPM             171
                          ...
72.9NM@ 2250RPM              1
155 NM AT 1600-2800 RPM      1
510NM@ 1600-2800RPM          1
285NM@ 2400-4000RPM          1
96  NM AT 3000  RPM          1
Name: torque, Length: 428, dtype: int64

In [24]:
data['torque'].isna().value_counts()

False    7906
True      222
Name: torque, dtype: int64

In [25]:
data.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64

In [26]:
data.dropna(how = any, inplace=True)

ValueError: invalid how option: <built-in function any>

In [27]:
def torque_unit(x):
    if 'NM' in str(x):
        return 'NM'
    elif 'KGM' in str(x):
        return 'KGM'

In [28]:
data['torque_unit'] = data['torque'].apply(torque_unit)

In [29]:
data['torque_unit'].unique()

array(['NM', 'KGM', None], dtype=object)

In [30]:
data['torque_unit'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
8123    False
8124    False
8125    False
8126    False
8127    False
Name: torque_unit, Length: 8128, dtype: bool

In [31]:
data[data['torque_unit'].isna()]

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,torque_unit
13,Maruti Swift 1.3 VXi,2007,200000,80000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN,None
31,Fiat Palio 1.2 ELX,2003,70000,50000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN,None
78,Tata Indica DLS,2003,50000,70000,Diesel,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN,None
87,Maruti Swift VDI BSIV W ABS,2015,475000,78000,Diesel,Dealer,Manual,First Owner,NaN,NaN,NaN,NaN,NaN,None
119,Maruti Swift VDI BSIV,2010,300000,120000,Diesel,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7846,Toyota Qualis Fleet A3,2000,200000,100000,Diesel,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN,None
7996,Hyundai Santro LS zipPlus,2000,140000,50000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN,None
8009,Hyundai Santro Xing XS eRLX Euro III,2006,145000,80000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN,None
8068,Ford Figo Aspire Facelift,2017,580000,165000,Diesel,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN,None
8103,Maruti Swift 1.3 VXi,2006,130000,100000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN,None

In [32]:
data[data['torque_unit'].isna()]['torque'].unique()

array([nan, '250@ 1250-5000RPM', '510@ 1600-2400', '110(11.2)@ 4800',
       '210 / 1900'], dtype=object)

In [33]:
data['torque_unit'].value_counts()

NM     7390
KGM     504
Name: torque_unit, dtype: int64

In [34]:
data['torque_unit'].fillna('NM', inplace=True)

In [35]:
data[data['torque_unit'].isna()]

Empty DataFrame
Columns: [name, year, selling_price, km_driven, fuel, seller_type, transmission, owner, mileage, engine, max_power, torque, seats, torque_unit]
Index: []

In [36]:
def split_num(x):
    x = str(x)
    for i, j in enumerate(x):
        if j not in '0123456789.':
            cut = i
            break
    return x[:cut]

In [37]:
data['torque'] = data['torque'].apply(split_num)

In [38]:
data['torque'].head()

0     190
1     250
2    12.7
3    22.4
4    11.5
Name: torque, dtype: object

In [39]:
data['torque']=data['torque'].astype('float')

ValueError: could not convert string to float: ''

In [40]:
data['torque'] = data['torque'].replace('', np.NaN)

In [41]:
data['torque']=data['torque'].astype('float')

In [42]:
data['torque_unit'].value_counts()

NM     7624
KGM     504
Name: torque_unit, dtype: int64

In [43]:
data['torque'].tail()

8123    113.7
8124     24.0
8125    190.0
8126    140.0
8127    140.0
Name: torque, dtype: float64

In [44]:
def trans_nm(x):
    if x['torque_unit'] == 'KGM':
        return x['torque'] * 9.80665
    else:
        return x['torque']

In [45]:
data['torque'] = data.apply(trans_nm, axis=1)

In [46]:
data.drop('torque_unit', axis=1, inplace=True)

In [47]:
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,16.654804,1248.0,74 bhp,190.000000,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,15.046263,1498.0,103.52 bhp,250.000000,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,16.889313,1497.0,78 bhp,124.544455,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,16.370107,1396.0,90 bhp,219.668960,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,15.362595,1298.0,88.2 bhp,112.776475,5.0

### max_power

In [48]:
data[['max_power', 'max_power_unit']] = data['max_power'].str.split(expand=True)

In [49]:
data['max_power'].head()

0        74
1    103.52
2        78
3        90
4      88.2
Name: max_power, dtype: object

In [50]:
data['max_power'] = data['max_power'].astype(float)

ValueError: could not convert string to float: 'bhp'

In [51]:
data[data['max_power'] == 'bhp']

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,max_power_unit
4933,Maruti Omni CNG,2000,80000,100000,CNG,Individual,Manual,Second Owner,3.949275,796.0,bhp,NaN,8.0,None

In [52]:
def isFloat(x):
    try:
        num = float(x)
        return num
    except ValueError:
        return np.NaN

In [53]:
data['max_power'] = data['max_power'].apply(isFloat)

In [54]:
data['max_power_unit'].unique()

array(['bhp', nan, None], dtype=object)

In [55]:
data.drop('max_power_unit', axis=1, inplace=True)

In [56]:
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,16.654804,1248.0,74.00,190.000000,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,15.046263,1498.0,103.52,250.000000,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,16.889313,1497.0,78.00,124.544455,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,16.370107,1396.0,90.00,219.668960,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,15.362595,1298.0,88.20,112.776475,5.0

- name : 자동차 브랜드와 모델명이 있다.

In [57]:
data['name'] = data['name'].str.split(expand=True)[0]

In [58]:
data['name'].unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Fiat', 'Datsun', 'Jeep',
       'Mercedes-Benz', 'Mitsubishi', 'Audi', 'Volkswagen', 'BMW',
       'Nissan', 'Lexus', 'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo',
       'Kia', 'Force', 'Ambassador', 'Ashok', 'Isuzu', 'Opel', 'Peugeot'],
      dtype=object)

## 전처리 : 결측치와 더미 변수 변환

In [59]:
data.isna().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        216
torque           222
seats            221
dtype: int64

In [60]:
data.dropna(inplace=True)

In [154]:
season = pd.DataFrame({'season':['spring', 'summer', 'fall', 'winter', np.nan]})
season

   season
0  spring
1  summer
2    fall
3  winter
4     NaN

In [155]:
pd.get_dummies(season['season'])

   fall  spring  summer  winter
0     0       1       0       0
1     0       0       1       0
2     1       0       0       0
3     0       0       0       1
4     0       0       0       0

In [156]:
pd.get_dummies(season['season'], dummy_na=True)

   fall  spring  summer  winter  NaN
0     0       1       0       0    0
1     0       0       1       0    0
2     1       0       0       0    0
3     0       0       0       1    0
4     0       0       0       0    1

In [61]:
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,16.654804,1248.0,74.00,190.000000,5.0
1,Skoda,2014,370000,120000,Diesel,Individual,Manual,Second Owner,15.046263,1498.0,103.52,250.000000,5.0
2,Honda,2006,158000,140000,Petrol,Individual,Manual,Third Owner,16.889313,1497.0,78.00,124.544455,5.0
3,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,16.370107,1396.0,90.00,219.668960,5.0
4,Maruti,2007,130000,120000,Petrol,Individual,Manual,First Owner,15.362595,1298.0,88.20,112.776475,5.0

In [62]:
data = pd.get_dummies(data, columns=['name', 'fuel', 'seller_type' ,
                                     'transmission', 'owner'])

- One-hot encoding : 범주형 데이터의 각 범주를 1아니면 0으로 채우는 인코딩 기법
- pd.get_dummies() 함수의 drop_first : 첫번째 카테고리 값은 사용하지 않음

In [63]:
data.head()

,year,selling_price,km_driven,mileage,engine,max_power,torque,seats,name_Ambassador,name_Ashok,...,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2014,450000,145500,16.654804,1248.0,74.00,190.000000,5.0,0,0,...,0,1,0,0,1,1,0,0,0,0
1,2014,370000,120000,15.046263,1498.0,103.52,250.000000,5.0,0,0,...,0,1,0,0,1,0,0,1,0,0
2,2006,158000,140000,16.889313,1497.0,78.00,124.544455,5.0,0,0,...,0,1,0,0,1,0,0,0,0,1
3,2010,225000,127000,16.370107,1396.0,90.00,219.668960,5.0,0,0,...,0,1,0,0,1,1,0,0,0,0
4,2007,130000,120000,15.362595,1298.0,88.20,112.776475,5.0,0,0,...,0,1,0,0,1,1,0,0,0,0

## 모델링과 평가

### 훈련세트와 테스트세트 분리

In [64]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    data.drop('selling_price', axis=1), data['selling_price'], test_size=0.2, random_state=100)

In [65]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(random_state=100)

model.fit(X_train, y_train)
train_pred = model.predict(X_train)
test_pred = model.predict(X_test)

In [66]:
# 종속변수가 연속형, 실제값과 예측값의 차이를 합하는 RMSE
from sklearn.metrics import mean_squared_error

print('train_rmse : ', mean_squared_error(y_train, train_pred) ** 0.5,
     'test_rmse : ', mean_squared_error(y_test, test_pred) ** 0.5)

train_rmse :  53578.71322834786 test_rmse :  132755.77987501275

In [67]:
np.sqrt(mean_squared_error(y_train, train_pred))

53578.71322834786

- 회귀 평가지표 MAE, MSE, RMSE, MSLE, RMSLE는 값이 작을수록 회귀 성능이 좋은 것입니다. 값이 작을수록 예측값과 실제값의 차이가 없다는 뜻이기 때문입니다. 반면, R² 는 값이 클수록 성능이 좋습니다.

### K-폴드 교차검증(cross-validation) =  K겹 교차검증
- 교차검증의 목적은 모델의 예측력을 더 안정적으로 평가하기 위해(교차타당성)
- 교차검증이란 다양한 훈려세트/테스트세트를 이용해 모델을 생성하고 평가하여 생성된 모델에 더 신뢰할 수 있는 평가 방법
- 보통 회귀모델에 사용되며, 데이터가 독립적이고 동일한 분포를 가진 경우에 사용된다.

In [68]:
X = data.drop('selling_price', axis=1)
y = data['selling_price']

- **K-Fold 교차 검증 과정**은 다음과 같다.

 1. 전체 데이터셋을 Training Set과 Test Set으로 나눈다.
 2. Training Set를 Traing Set + Validation Set으로 사용하기 위해 k개의 폴드로 나눈다.
 3. 첫 번째 폴드를 Validation Set으로 사용하고 나머지 폴드들을 Training Set으로 사용한다.
 4. 모델을 Training한 뒤, 첫 번 째 Validation Set으로 평가한다.
 5. 차례대로 다음 폴드를 Validation Set으로 사용하며 3번을 반복한다.
 6. 총 k 개의 성능 결과가 나오며, 이 k개의 평균을 해당 학습 모델의 성능이라고 한다.

In [69]:
from sklearn.model_selection import cross_val_score

# 모델
model = RandomForestRegressor(random_state=100)

# 교차검증
# 파라미터(모델, train_data, train_target, 폴드수)
scores = cross_val_score(model, X, y)

# 성능평가
print('교차 검증별 정확도 : ', np.round(scores, 4))
print('평균 검증 정확도 : ', np.round(np.mean(scores), 4))

교차 검증별 정확도 :  [0.9665 0.968  0.9796 0.9567 0.9672]
평균 검증 정확도 :  0.9676

### 교차 검증 분할기

In [70]:
from sklearn.model_selection import KFold

# 모델
rf = RandomForestRegressor(random_state=100)

# n_split : 몇 개로 분할할지
# shuffle : Fold를 나누기 전에 무작위로 섞을지
# random_state : 나눈 Fold를 그대로 사용할지
kfold = KFold(n_splits=6, shuffle=True, random_state=100)

scores = cross_val_score(rf, X, y, cv=kfold)

# 성능평가
print('교차 검증별 정확도 : ', np.round(scores, 4))
print('평균 검증 정확도 : ', np.round(np.mean(scores), 4))

교차 검증별 정확도 :  [0.9774 0.9666 0.976  0.9721 0.9574 0.9804]
평균 검증 정확도 :  0.9717

### 교차검증 자동화처리

In [71]:
# 현재 데이터 확인
data

,year,selling_price,km_driven,mileage,engine,max_power,torque,seats,name_Ambassador,name_Ashok,...,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2014,450000,145500,16.654804,1248.0,74.00,190.000000,5.0,0,0,...,0,1,0,0,1,1,0,0,0,0
1,2014,370000,120000,15.046263,1498.0,103.52,250.000000,5.0,0,0,...,0,1,0,0,1,0,0,1,0,0
2,2006,158000,140000,16.889313,1497.0,78.00,124.544455,5.0,0,0,...,0,1,0,0,1,0,0,0,0,1
3,2010,225000,127000,16.370107,1396.0,90.00,219.668960,5.0,0,0,...,0,1,0,0,1,1,0,0,0,0
4,2007,130000,120000,15.362595,1298.0,88.20,112.776475,5.0,0,0,...,0,1,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,2013,320000,110000,17.652672,1197.0,82.85,113.700000,5.0,0,0,...,0,1,0,0,1,1,0,0,0,0
8124,2007,135000,119000,11.957295,1493.0,110.00,235.359600,5.0,0,0,...,0,1,0,0,1,0,1,0,0,0
8125,2009,382000,120000,13.736655,1248.0,73.90,190.000000,5.0,0,0,...,0,1,0,0,1,1,0,0,0,0
8126,2013,290000,25000,16.775801,1396.0,70.00,140.000000,5.0,0,0,...,0,1,0,0,1,1,0,0,0,0
8127,2013,290000,25000,16.775801,1396.0,70.00,140.000000,5.0,0,0,...,0,1,0,0,1,1,0,0,0,0

In [72]:
# reset_index
# 일반적으로 reset_index를 사용하면 인덱스가 컬럼이 된다.
# drop=True 매개변수를 주면 인덱스를 제거
data.reset_index(drop=True, inplace=True)

In [73]:
data

,year,selling_price,km_driven,mileage,engine,max_power,torque,seats,name_Ambassador,name_Ashok,...,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2014,450000,145500,16.654804,1248.0,74.00,190.000000,5.0,0,0,...,0,1,0,0,1,1,0,0,0,0
1,2014,370000,120000,15.046263,1498.0,103.52,250.000000,5.0,0,0,...,0,1,0,0,1,0,0,1,0,0
2,2006,158000,140000,16.889313,1497.0,78.00,124.544455,5.0,0,0,...,0,1,0,0,1,0,0,0,0,1
3,2010,225000,127000,16.370107,1396.0,90.00,219.668960,5.0,0,0,...,0,1,0,0,1,1,0,0,0,0
4,2007,130000,120000,15.362595,1298.0,88.20,112.776475,5.0,0,0,...,0,1,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7901,2013,320000,110000,17.652672,1197.0,82.85,113.700000,5.0,0,0,...,0,1,0,0,1,1,0,0,0,0
7902,2007,135000,119000,11.957295,1493.0,110.00,235.359600,5.0,0,0,...,0,1,0,0,1,0,1,0,0,0
7903,2009,382000,120000,13.736655,1248.0,73.90,190.000000,5.0,0,0,...,0,1,0,0,1,1,0,0,0,0
7904,2013,290000,25000,16.775801,1396.0,70.00,140.000000,5.0,0,0,...,0,1,0,0,1,1,0,0,0,0
7905,2013,290000,25000,16.775801,1396.0,70.00,140.000000,5.0,0,0,...,0,1,0,0,1,1,0,0,0,0

In [74]:
kf = KFold(n_splits = 5)

X = data.drop('selling_price', axis=1)
y = data['selling_price']

In [75]:
for i, j in kf.split(X):
    print(i, j)

[1582 1583 1584 ... 7903 7904 7905] [   0    1    2 ... 1579 1580 1581]
[   0    1    2 ... 7903 7904 7905] [1582 1583 1584 ... 3160 3161 3162]
[   0    1    2 ... 7903 7904 7905] [3163 3164 3165 ... 4741 4742 4743]
[   0    1    2 ... 7903 7904 7905] [4744 4745 4746 ... 6322 6323 6324]
[   0    1    2 ... 6322 6323 6324] [6325 6326 6327 ... 7903 7904 7905]

In [76]:
train_rmse_total = []
test_rmse_total = []

for train_index, test_index in kf.split(X):
    X_train, X_test = X.loc[train_index], X.loc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    model = RandomForestRegressor(random_state=100)
    model.fit(X_train, y_train)
    
    train_pred = model.predict(X_train) # 훈련세트 예측
    test_pred = model.predict(X_test)   # 테스트세트 예측
    
    train_rmse = mean_squared_error(y_train, train_pred) ** 0.5
    test_rmse = mean_squared_error(y_test, test_pred) ** 0.5
    
    train_rmse_total.append(train_rmse)
    test_rmse_total.append(test_rmse)

In [77]:
train_rmse_total

[50919.64551039735,
 58245.94403552136,
 57325.85737174696,
 56262.584157672245,
 59018.944980074004]

In [78]:
test_rmse_total

[163132.33014922726,
 135974.88460685138,
 124878.36127822289,
 152535.97745702695,
 143432.20025599442]

In [79]:
# 최종평가
print('훈련세트 RMSE : ', sum(train_rmse_total)/5)
print('테스트세트 RMSE : ', sum(test_rmse_total)/5)

훈련세트 RMSE :  56354.595211082386
테스트세트 RMSE :  143990.75074946458

- **교차검증** 전 결과
- train_rmse :  53578.71322834786 test_rmse :  132755.77987501275